@tailwind base;
@tailwind components;
@tailwind utilities;


.backgroundowhite {
   background-color:rgb(255 255 255 / 80%)
}

body {
  padding: 0;
  margin: 0;
  position: relative;
}

html, body {
  height: 100vh;
}

.mobile-body {
  overflow: hidden;
  height: 100vh;
}

.mobile-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: red;
  height: 100vh;
  width: 100vh;
}

.mobile-content {
  height: calc(100% + 1px);
}

*{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto; 
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

*:focus {
  outline: none !important;
}

.tgui-6a12827a138e8827{
  height: 100vh;
}
.background-drop---navbar{
  background: rgba(255, 255, 255, 0.322);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.102);
  will-change: transform;
  backdrop-filter: blur(8px);

}

.light-background--color{
  background-color: transparent;
}

.background-drop--bluebase{
  background: rgba(255, 255, 255, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: backdrop-filter 0.3s ease;
  will-change: transform;
}

.background-drop--bluebase--likecard{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: backdrop-filter 0.3s ease;
  will-change: transform;
}

.maxcontentimportant{
  max-width: none !important;
}

.exploreSipwePagination {
  width: 20px !important;
  height: 20px !important;
  min-width: unset !important;
  background: rgba(165, 148, 249, 0.341);
  backdrop-filter: blur(8px);
  color: #FFF;
}

.footerswipcard{
  position: absolute;
  width: fit-content;
  height: fit-content;
  border-radius: 50vw !important;
  will-change: transform;
  bottom: 25px;

}


.background-drop--whitebase {
  background: rgba(255, 255, 255, 0.341);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  will-change: transform;
  transition: backdrop-filter 0.3s ease;
}

.border-color--carts{
  border: 1px #e5e5e5 solid;
}

.border-color--carts---modal{
  border: 1px #f0edff solid;
}




.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
}

.bg-transparent {
  background-color: transparent !important;
}