@tailwind base;
@tailwind components;
@tailwind utilities;


@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 400px 400px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 400px 400px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 400px 400px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 400px 400px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 400px 400px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 400px 400px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 400px 400px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 400px 400px;
  }
}

.backgroundowhite {
   background-color:rgb(255 255 255 / 80%)
}

body {
  padding: 0;
  margin: 0;
  background-image: url("/assets/backgroundImage.png");
  -webkit-animation: bg-scrolling-reverse 120s infinite;
  -moz-animation: bg-scrolling-reverse 120s infinite;
  -o-animation: bg-scrolling-reverse 120s infinite;
  animation: bg-scrolling-reverse 120s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;

}

*{
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

*:focus {
  outline: none !important;
}

.background-drop---navbar{
  background: rgba(165, 148, 249, 0.322);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.102);
  will-change: transform;
  backdrop-filter: blur(8px);

}

.light-background--color{
  background-color: transparent;
}

.background-drop--bluebase{
  background: rgb(217 209 255 / 34%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: backdrop-filter 0.3s ease;
  will-change: transform;
}

.background-drop--bluebase--likecard{
  background: rgb(217 209 255 / 70%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: backdrop-filter 0.3s ease;
  will-change: transform;
}

.maxcontentimportant{
  max-width: none !important;
}

.exploreSipwePagination {
  width: 20px !important;
  height: 20px !important;
  min-width: unset !important;
  background: rgba(165, 148, 249, 0.341);
  backdrop-filter: blur(8px);
  color: #FFF;
}

.footerswipcard{
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: -80px;
  border-radius: 50vw !important;
  will-change: transform;

}


.background-drop--whitebase{
  background: rgba(255, 255, 255, 0.341);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  will-change: transform;
  transition: backdrop-filter 0.3s ease;
}

.border-color--carts{
  border: 1px #e5e5e5 solid;
}

.border-color--carts---modal{
  border: 1px #f0edff solid;
}
