@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: var(--tg-theme-secondary-bg-color, white);
  padding: 0;
  margin: 0;
}

*{
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

*:focus {
  outline: none !important;
}

.background-drop---navbar{
  background: rgba(165, 148, 249, 0.322);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.102);
  will-change: transform;
  backdrop-filter: blur(8px);

}

.light-background--color{
  background-color: #fdf9fe;
}

.background-drop--bluebase{
  background: rgba(165, 148, 249, 0.341);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: backdrop-filter 0.3s ease;
  will-change: transform;
}

.maxcontentimportant{
  max-width: none !important;
}

.exploreSipwePagination {
  width: 20px !important;
  height: 20px !important;
  min-width: unset !important;
  background: rgba(165, 148, 249, 0.341);
  backdrop-filter: blur(8px);
  color: #FFF;
}

.footerswipcard{
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: -80px;
  border-radius: 50vw !important;
  will-change: transform;

}


.background-drop--whitebase{
  background: rgba(255, 255, 255, 0.341);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  will-change: transform;
  transition: backdrop-filter 0.3s ease;
}
