
.overlay {
    background: white;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 90;

  }
  
  .single-image-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: 100;

  }
  
  .single-image-container * {
    pointer-events: all;
    z-index: 100;

  }
  
  .single-image {
    border-radius: 20px;
    width: 500px;
    height: 300px;
    z-index: 100;
  }
  